#player-container {
    display: flex;
    flex-direction: row;
}

#player-container > div:first-child {
    margin-right: 25px;
}

@media screen and (max-width: 900px) {
    #player-container {
        flex-direction: column;
    }
}

select {
    padding: 3px;
}

button#start {
    margin-top: 20px;
}

table.board {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
}

td {
    width: 25px;
    min-width: 25px;
    height: 25px;
    min-height: 25px;
    border: 1px solid black;
}

td.water {
    background: lightblue;
}

td.hit {
    background: red !important;
}

td.ship {
    background: lightgray;
}